* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: coral;
}

nav h1 {
  font-size: 2rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  text-decoration: underline;
}

#hero-image {
  height: 80vh;
  width: 100%;
  object-fit: cover;
}

.para-list-item {
  padding: 16px;
  background-color: cornflowerblue;
  margin-bottom: 8px;
}
