* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  background-color: coral;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.hero-img {
  height: 80vh;
  overflow: hidden;
}

.hero-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
